.cromo.mobile.noSelect{:data => {:cromo_id => card.id}}
  .credits
    - if card.user.id == card.picture.user.id
      %a{:href => "#"}="#{card.user.username}'s"
      cromo & imagen
    - else
      %a{:href=> "#"}="#{card.user.username}'s"
      cromo 
      | 
      %a{:href => "#"}="#{card.picture.user.username}'s"
      imagen
  .inside
    %a{:href => card_path(card)}
      = image_tag card.picture.url, {:id => "picture_img"}
      .comment.noSelect{:id => ("comentario" if defined?(single))}
        =simple_format(card.comment)
    - if defined?(single)
      #cromoForm
        = form_tag(create_cromo_cards_path, :method => "POST") do
          %input{:type =>"hidden", :name => :picture_id, :value => card.picture_id}
          %input#cardHeight{:type =>"hidden", :name => :card_height}
          %textarea#cromoText{:name => "cromoText"}
          %a#daleCera.btn.btn-info{:href => "#"}
            Dale cera
          %a#cancel.btn.btn-danger{:href => "#"}
            Déjalo pa luego

  .votosContainer
    .votos
      %a.cromoplus{:data => {:cromo_id => card.id}, :class => vote_class(card.id)}
        .imgContainer
          = image_tag "votar.gif"
      .numeroVotos
        .n{:id => "n#{card.id}"}= card.votos.blank? ? "000" : card.votos.to_s.rjust(3,'0')
        = image_tag "icon_up.gif"
  - if card.comments_count > 0
    .commentIcon
      %a{:href => card_path(card.id)}
        =image_tag "comment.png"
        .cNumber
          =card.comments_count.to_s.rjust(2,'0')

  %ul.social
    %li
      %a{:href=> twitter_link(card), :target => "_blank"}
        =image_tag "twitter.png"
      %a{:href=> facebook_link(card), :target => "_blank"}
        %li=image_tag "facebook.png"
      %a.line-button{:href=> "#", :data => {:url => line_link(card)}}
        %li=image_tag "line.png"

