- content_for :head do
  = javascript_include_tag "votos_mobile"
  %meta{:property=>"og:title", :content => "#{@card.picture.description.blank? ? "Cromico!" : @card.picture.description}"}
  %meta{:property=>"og:type", :content => "article"}
  %meta{:property=>"og:image", :content => "#{@card.picture.url}"}
  %meta{:property=>"og:url", :content => "#{card_url(@card.id)}"}
  %meta{:property=>"og:site_name", :content =>"PorLoSegao.com"}
  %meta{:property=>"og:description", :content => "#{@card.comment}"}

#cromo-container
  = render '/cards/smartphone/cromo', :card => @card, :single => true
