.cromo{:style => "height:#{card.height}px; display:none"}
  .credits
    - if card.user.id == card.picture.user.id
      %a{:href => "#"}="#{card.user.username}'s"
      cromo & imagen
    - else
      %a{:href=> "#"}="#{card.user.username}'s"
      cromo 
      | 
      %a{:href => "#"}="#{card.picture.user.username}'s"
      imagen
  .votosContainer
    .votos
      %a.cromoplus
        = image_tag "votar.gif"
      .numeroVotos
        = card.votos.blank? ? "000" : card.votos.to_s.rjust(3,'0')
        = image_tag "icon_up.gif"

  .inside
    = image_tag card.picture.url
    .comment
      =simple_format(card.comment)
