.cromo.animated{:style => "height:#{card.height}px; display:none", :class => ("shown" if defined?(new)), :id => "cromo#{card.id}"}
  .credits
    - if card.user.id == card.picture.user.id
      %a{:href => "#"}="#{card.user.username}'s"
      cromo & imagen
    - else
      %a{:href=> "#"}="#{card.user.username}'s"
      cromo
      |
      %a{:href => "#"}="#{card.picture.user.username}'s"
      imagen
  .votosContainer
    .votos
      %a.cromoplus{:data => {:cromo_id => card.id}, :class => vote_class(card.id)}
        .imgContainer
          = image_tag "votar.gif"
      .numeroVotos
        .n{:id => "n#{card.id}"}= card.votos.blank? ? "000" : card.votos.to_s.rjust(3,'0')
        = image_tag "icon_up.gif"
  .inside
    %a.cromo_img{:href => ((!defined?(single) || params[:action]=="from_picture")) ? card_path(card.id) : "/cromosImagen/#{card.picture_id}"}
      = image_tag card.picture.url
      .comment
        =simple_format(card.comment)
  - if card.comments_count > 0
    .commentIcon
      %a{:href => card_path(card.id)}
        =image_tag "comment.png"
        .cNumber
          =card.comments_count.to_s.rjust(2,'0')
  %ul.tags{:style => ("display:block" if defined?(single))}
    - card.tags.limit(5).each do |tag|
      %li
        .btn-success.tag
          =link_to tag.name, cards_path(:tag => tag.name)
  %ul.social
    %li
      %a{:href=> twitter_link(card), :target => "_blank"}
        =image_tag "twitter.png"
      %a{:href=> facebook_link(card), :target => "_blank"}
        %li=image_tag "facebook.png"
