- content_for :head do
  :javascript
    window.criteria = "#{@criteria}";
    window.tag = "#{@tag}";
  = javascript_include_tag "toscawookmark", "cromoengine", "votoclick"

.top-buttons
  - if !@tag.blank?
    #tageados="Cromos tageados con '#{@tag}'"
    %a#verTodos.btn.btn-info{:href => nuevos_cards_path}
      Ver todos
  - else
    %a#votados.btn.btn-large.animated{:href => cards_path, :class => ("active" if current_page?(cards_path) || !params[:criteria].blank?)}
      +Votados
    %a#nuevos.animated.btn.btn-large{:href => nuevos_cards_path, :class => ("active" if current_page?(nuevos_cards_path)  || current_page?(root_path))}
      +Nuevos
- if @tag.blank? && current_page?(cards_path) || !params[:criteria].blank?
  .ordenAquiCopon
    %a.btn{:href => "/cromos/ninki/hoy", :class => ("btn-inverse" if params[:criteria]=="hoy")}
      Hoy
    %a.btn{:href => "/cromos/ninki/estaSemana", :class => ("btn-inverse" if params[:criteria]=="estaSemana")}
      Esta semana
    %a.btn{:href => "/cromos/ninki/semanaPasada", :class => ("btn-inverse" if params[:criteria]=="semanaPasada")}
      La semana pasada
    %a.btn{:href => "/cromos/ninki/esteMes", :class => ("btn-inverse" if params[:criteria]=="esteMes")}
      Este mes
    %a.btn{:href => "/cromos/ninki/dePaSiempre", :class => ("btn-inverse" if params[:criteria]=="dePaSiempre")}
      Desde siempre

#cromos
  - @cards.each do |card|
    = render 'cromo', :card => card

