- content_for :head do
  = javascript_include_tag "toscawookmark", "cromoengine"
#cromos
  - @cards.each do |card|
    .cromo{:style => "height:#{card.height}px; display:none"}
      .credits
        - if card.user.id == card.picture.user.id
          %a{:href => "#"}="#{card.user.username}'s"
          cromo & imagen
        - else
          %a{:href=> "#"}="#{card.user.username}'s"
          cromo 
          | 
          %a{:href => "#"}="#{card.picture.user.username}'s"
          imagen
      .inside
        = image_tag card.picture.url
        .comment
          =simple_format(card.comment)

