- content_for :head do
  = stylesheet_link_tag "bubbles"
  = javascript_include_tag "card_show", "votoclick"
  %meta{:property=>"og:title", :content => "#{@card.picture.description.blank? ? "Cromico!" : @card.picture.description}"}
  %meta{:property=>"og:type", :content => "article"}
  %meta{:property=>"og:image", :content => "#{@card.picture.url}"}
  %meta{:property=>"og:url", :content => "#{card_url(@card.id)}"}
  %meta{:property=>"og:site_name", :content =>"PorLoSegao.com"}
  %meta{:property=>"og:description", :content => "#{@card.comment}"}


#cromo-container{:data => {:id => @card.id}}
  = render 'cromo', :card => @card, :single => true
  #social
    #twitter
      = render '/layouts/tw_button', :card_id => @card.id
    #fb
      = render '/layouts/fb_like_button'
  #operations
    %a.btn.btn-info.btn-large{:href => "/cromosImagen/#{@card.picture_id}"}
      Ver imagen / Crear cromo
  #comments
    %h3 Comentarios 
    - if @comments.size == 0
      %p#nadie
        Nadie ha dicho ná de momenter
    - else
      - @comments.each_with_index do |comment,idx|
        - left = (idx%2 == 0)
        .porcomentar{:class => (left ? "left" : "right")}
          .user
            - if left
              .username
                %a{:href => "#"}=comment.user.username 
            %p.com.triangle-right{:class => (left ? "left" : "right")}
              =comment.comment
            - if !left
              .username
                %a{:href => "#"}=comment.user.username 
    - unless current_user.blank?
      #ladrido.triangle-right
        %input{:type=> :text, :placeholder => "Comenta algo, muchacho"}
    - else
      .p{:style=>"clear:both"}
      %p
        Tira
        %a#padentrer{:href => "#"}
          pa dentro 
        pa comentar!
        %br
        %br