#header.navbar.navbar-fixed-top
  .navbar-inner
    .container.extended
      %a.brand{:href => "/"}
        By The Segao<br/>
        %h6{:style=> "color:white"} is the way
      .nav-collapse
        %ul.nav.pull-right
          %li.divider-vertical
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
              Registrander
              %strong.caret
            .dropdown-menu{:style => "padding: 15px; padding-bottom:0px"}
              %h4 Regístrate y empieza a enviar imágenes y crear cromos tu también!!
              = form_for(:user, :url => registration_path(:user), :html => {:id => "signin_form"}) do |f| 
                = f.text_field :username, :placeholder => "Usernamer"
                = f.email_field :email, :placeholder => "Email"
                = f.password_field :password, :placeholder => "Contraseñer"
                = f.password_field :password_confirmation, :placeholder => "Contraseñer otra vez"
                %button#signin.btn.btn-inverse{:type => "submit"}
                  Apúntame a esta gaita
                #daleaqui
                  = image_tag "declare.gif"
          %li.dropdown
            %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
              Login
              %strong.caret
            .dropdown-menu{:style => "padding: 15px; padding-bottom:0px"}
              %h4 Vamos pa dentro!
              %form#signin_form
                %input{:type => "text", :placeholder => "Usernamer"}
                %input{:type => "password", :placeholder => "Contraseñer"}
                #daleaqui
                  = image_tag "vainas.gif"
                %button#signin.btn.btn-success{:href => "#"}
                  Padentrer
        %ul.nav
          %li.active
            %a{:href => "#"} Cromos
          %li
            %a{:href => "#"} Imágenes


			
  