#header.navbar.navbar-fixed-top
  .navbar-inner
    .container.extended
      %a#titulaco.brand.animated.hide{:href => "/"}
        By The Segao<br/>
        %h6{:style=> "color:white"} is the way
      .nav-collapse
        #osusume{:style => "color:white; position: absolute; left: 150px; top: -10px; "}
          = link_to cards_path(:tag => "Bárcenas") do
            = image_tag "Barcenas.png", :class => "animated", :id => "barcenas", :style => "display:none"
        %ul.nav.pull-right#menuright
          %li.divider-vertical
          - if current_user
            %li{:style => "display: none"}
              %a#upload{:href => "#"}
                Subir imagen
            %li{:style => "display: none"}
              = link_to "Logout #{current_user.username}", destroy_user_session_path
          - unless current_user
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                Registrander
                %strong.caret
              .dropdown-menu.wrapper{:style => "padding: 15px; padding-bottom:0px"}
                %h4 Regístrate y empieza a enviar imágenes y crear cromos tu también!!
                = form_for(:user, :url => registration_path(:user), :html => {:id => "signin_form"}) do |f|
                  = f.text_field :username, :placeholder => "Usernamer", :class=>"validate[required]", "data-prompt-position" => "topRight:-50,0"
                  = f.email_field :email, :placeholder => "Email", :class=>"validate[required,custom[email]]", "data-prompt-position" => "topLeft"
                  = f.password_field :password, :placeholder => "Contraseñer", :class => "validate[required,minSize[6]]", "data-prompt-position" => "topRight:-50,0"
                  = f.password_field :password_confirmation, :placeholder => "Contraseñer otra vez", :class => "validate[required,equals[user_password]", "data-prompt-position" => "topLeft"
                  %button#signin.btn.btn-inverse{:type => "submit"}
                    Apúntame a esta gaita
                  .daleaqui
                    = image_tag "declare.gif"
            %li.dropdown#logindrop
              %a.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                Login
                %strong.caret
              .dropdown-menu{:style => "padding: 15px; padding-bottom:0px"}
                %h4 Vamos pa dentro!
                = form_for(:user, :url => session_path(:user), :html => {:id => "login_form"}) do |f|
                  = f.email_field :email, :placeholder => "Emailer", :class => "validate[required,custom[email]]", "data-prompt-position" => "topRight:-100,0"
                  = f.password_field :password, :placeholder => "Contraseñer", :class => "validate[required]", "data-prompt-position" => "bottomRight:-100,0"
                  .daleaqui
                    = image_tag "vainas.gif"
                  %button#login.btn.btn-primary{:href => "#"}
                    Padentrer
        %ul.nav#cromosimagenes{:style => "display: none"}
          %li{:class => ("active" if params[:controller]=="cards")}
            = link_to "Cromos", cards_path
          %li{:class => ("active" if params[:controller]=="pictures")}
            = link_to "Imágenes", pictures_path
.hide
  %form(action="https://bythesegao.s3.amazonaws.com" method="post" enctype="multipart/form-data" class='direct-upload')
    %input{type: :hidden, name: :key, :id => "uploaded_file_path"}
    %input{type: :hidden, name: "AWSAccessKeyId", value: ENV['AWS_ACCESS_KEY_ID']}
    %input{type: :hidden, name: :acl, value: 'public-read'}
    %input{type: :hidden, name: :policy}
    %input{type: :hidden, name: :signature}
    %input{type: :hidden, name: :success_action_status, value: "201"}
    %input{type: :file, name: :file, :id => "picture_upload" }

